:root{
    --red: #ff2e63;
    --black: #252a34;
    --blue: #08d9d6;
    --white: #eaeaea;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
  
a {
    text-decoration: none;
}

#header{
    position: relative;
    width: 100%;
}
  
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: white;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
  
.menu .logo-box{
    margin-left: 20px;
}
  
.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}
  
.menu .list-container{
    margin-right: 20px;
}
  
.menu .list-container .lists{
    display: flex;
}
  
.menu .list-container .lists li{
    list-style: none;
}
  
.menu .list-container .lists li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}
  
.menu .list-container .lists li a.activo{
    background: var(--red);
    color: #fff;
}
  
.menu .list-container .lists li a.hover{
    background: var(--red);
    color: #fff;
}
  
.btn-menu > .fa-bars{
    display: none;
}
  
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
  
.container__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/*MAIN*/
.main .container h2 {
    width: 75%;
    line-height: 70px;
    font-size: 60px;
}
  
.container__main {
    padding: 80px 20px;
}
  
.main .container p {
    margin-top: 30px;
    font-size: 24px;
    color: rgb(78, 78, 78);
}
  
.main .container ul{
    margin-left: 60px;
    font-size: 20px;
    color: rgb(78, 78, 78)
}

/*Media Query*/
@media only screen and (max-width:900px){
    .btn-menu > .fa-bars{
      display: block;
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 28px;
      cursor: pointer;
    }
  
    .menu .list-container{
      position: absolute;
      top: 60px;
      left: -100%;
      width: 100%;
      height: calc(100vh - 300px);
      background: #fff;
    }
  
    .menu .list-container .lists{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-top: 5px solid var(--red);
    }
  
    .menu .list-container .lists li{
      width: 90%;
      margin: 10px 0px;
      border-bottom: 1px solid var(--red);
      text-align: center;
    }
  
    .menu .list-container .lists li a{
      font-size: 20px;
    }
  
    .menu .list-container .lists li a.activo{
      background: none;
      color: var(--red);
    }
  
    .menu .list-container .lists li a:hover{
      background: none;
      color: var(--red);
    }
  }